/*couleur
noir : #0f1923
rouge : #ff4655
beige : #ece8e0
*/

@font-face {
  font-family: valorant;
  src: url("Valorant.ttf");
}

body {
  background-color: #0f1923;
  margin: 0;
  padding: 0;
  color: #ff4655;
}

/*Navigation barre*/

nav {
  display: flex;
  position: fixed;
  width: 300px;
  border-right: 2px solid #ff4655;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

nav a {
  display: flex;
  font-size: 2rem;
  list-style: none;
  text-decoration: none;
  font-family: valorant;
  color: #ece8e0;
  text-align: left;
  margin-left: 70px;
  transition: transform 0.4s;
  transform-origin: center;
}

a:visited {
  color: #ece8e0;
}

a:hover {
  color: #ff4655;
  transform: scale(1.2);
}

nav img {
  width: 80%;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-section h1 {
  padding-top: 20px;
}

.main-section {
  position: relative;
  text-align: center;
  font-size: 40px;
  left: 350px;
  max-width: 1080px;
}

h1 {
  margin: 0;
  font-family: valorant;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #ece8e0;
  text-align: left;
  padding: 10px;
}

.grille {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

/*Agents*/

.agent {
  position: relative;
  width: 30%;
  margin-bottom: 20px;
  overflow: hidden;
}

.agent img {
  width: 100%;
  border-bottom: 30px solid #ff4655;
  transition: transform 0.4s;
  transform-origin: center;
}

.agent img:hover {
  transform: scale(1.2);
}

.agent p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 7.5px;
  background-color: #ff4655;
  color: #ece8e0;
  font-family: valorant;
  font-size: 1.2rem;
  text-align: center;
}

/*Armes*/

h3{
  font-family: valorant;
  text-align: left;
  font-size: 1.8rem;;
}

.pistols-flex{
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.pistols{
  border: 5px solid #ff4655;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

.pm-flex{
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.pm{
  border: 5px solid #ff4655;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

.shotgun-flex{
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.shotgun{
  border: 5px solid #ff4655;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

.gun-flex{
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.gun{
  border: 5px solid #ff4655;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

.sniper-flex{
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.sniper{
  border: 5px solid #ff4655;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

.mitrailleuse-flex{
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.mitrailleuse{
  border: 5px solid #ff4655;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

.knife-flex{
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.knife{
  border: 5px solid #ff4655;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

/* Cartes */

.cartes-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 40px 0;
}

.carte {
  position: relative;
  width: 30%; 
  margin-bottom: 20px;
  border: 5px solid #ff4655;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.4s;
}

.carte img {
  width: 100%;
  display: block;
}

.carte:hover {
  transform: scale(1.1);
}

.carte::after {
  content: "";
  display: block;
  padding-bottom: 30px; /* pour ajouter de l'espace sous l'image */
  background-color: #ff4655;
}

.carte p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 2px;
  background-color: #ff4655;
  color: #ece8e0;
  font-family: valorant;
  font-size: 1.2rem;
  text-align: center;
}
