:root {
    --gradiant: linear-gradient(135deg, #ffc13b, #ff6e40);
}

body {
    background-color: #f5f0e1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    cursor: url('curseur_noir.svg'), default;
}

.item1, .item2, header{
    cursor: url('curseur_blanc.svg'), default; /* Le curseur noir */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e3d59;
    color: #ffc13b; 
    padding: 10px 20px;
}

.titre {
    margin: 0;
}

nav ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: #ffc13b;
    transition: color 0.3s;
}

a:hover {
    color: #ff6e40;
}

.item1 {
    background-color: #1e3d59;
    padding: 20px;
    margin: 40px auto;
    max-width: 800px;
    border-radius: 20px;
    color: #ffc13b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.item1 h2 {
    color: #ffc13b;
    font-size: 2em;
    margin-bottom: 20px;
}

.item1 ul {
    padding: 0;
}

.item1 ul li {
    display: block;
    padding: 10px 0;
    font-size: 1.2em;
    color: #ff6e40;
}

.text {
    color: #f5f0e1;
}

.slick-next:before,
.slick-prev:before {
    color: #ff6e40 !important;
}

.slider {
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
}

.slick-dots {
    margin-bottom: 30px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.item2 {
    background-color: #1e3d59;
    padding: 20px;
    margin: 40px auto;
    max-width: 800px;
    border-radius: 20px;
    color: #ffc13b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.item2 h2 {
    color: #ffc13b;
    font-size: 2em;
    margin-bottom: 20px;
}

.item2 ul {
    padding: 0;
}

.item2 ul li {
    display: block;
    padding: 10px 0;
    font-size: 1.2em;
    color: #ff6e40;
}

.citation {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

blockquote {
    position: relative;
    background: linear-gradient(135deg, #ffc13b, #ff6e40);
    color: #f5f0e1;
    padding: 30px 60px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    font-size: 1.8em;
    font-style: italic;
    text-align: center;
    max-width: 700px;
    line-height: 1.5;
}

blockquote p {
    margin: 0;
}

blockquote:before,
blockquote:after {
    content: '"';
    font-size: 3em;
    color: #1e3d59;
    position: absolute;
    font-weight: bold;
}

blockquote:before {
    top: -20px;
    left: -20px;
}

blockquote:after {
    bottom: -20px;
    right: -20px;
    transform: rotate(180deg);
}

blockquote:hover {
    background: linear-gradient(135deg, #ff6e40, #ffc13b);
    color: #1e3d59;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}
