/* couleur :
#1e3d59 bleu
#f5f0e1 beige
#ff6e40 orange
#ffc13b jaune
*/

body {
    background-color: #f5f0e1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    cursor: url('curseur_noir.svg'), default;
}

.item1, .item2, header{
    cursor: url('curseur_blanc.svg'), default; /* Le curseur noir */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e3d59;
    color: #ffc13b; 
    padding: 10px 20px;
}

.titre {
    margin: 0;
}

nav ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: #ffc13b;
    transition: color 0.3s;
}

a:hover {
    color: #ff6e40;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.presentation, .personalite, .vision {
    margin-bottom: 40px;
}

h2, h3 {
    color: #ff6e40;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-top: 10px;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ol {
        flex-direction: column;
    }

    nav li {
        margin: 10px 0;
    }
}
